.mi-app{
    background-color: brown;
    display: flex;
    justify-content: space-around;
}
.nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    margin: 10px;
}
li{
    margin: 10px;
    
}
.icon{
    margin: 30px;
    width: 50px;
}
h1{
    color: white;
    background-color: black;
    border-radius: 20%;
}
a{
    color: white;
}